html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--color-light);
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Light'), url("../fonts/Roboto-light.woff2"), url("../fonts/Roboto-light.woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'), url("../fonts/Roboto-Regular.woff2"), url("../fonts/Roboto-Regular.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Medium'), url("../fonts/Roboto-Medium.woff2"), url("../fonts/Roboto-Medium.woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Bold'), url("../fonts/Roboto-Bold.woff2"), url("../fonts/Roboto-Bold.woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.page {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Global */
:root {
    --color-white: #fff;
    --color-light: #f2f6fa;
    --color-sky: #0fc5ff;
    --color-sky-light: #5fc6f1;
    --color-sky-dark: #50a9fc;
    --color-gray-light: #c4c4c4;
    --color-gray: #a6afb8;
    --color-gray-dark: #6e6e6f;
    --color-red: #ed1c24;
    --color-dark: #374050;
    --color-black: #000;
    --border-radius: 100px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.input-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1400px;
}

.section {
    margin-left: 180px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*Header*/
.header__container {
    height: 60px;
    padding-left: 17px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
}

.header__item {
    margin: 0 0 0 0;
    position: relative;
    color: var(--color-red);
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
}

.header__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 32px;
    width: 100%;
    border-bottom: 3px solid var(--color-red);
}

.header__auth {
    margin: 0 0 0 0;
    color: var(--color-gray);
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
}

/*Content*/
.content__container {
    padding-right: 18px;
    justify-content: space-between;
    background-color: var(--color-light);
}

.content__left {
    width: 629px;
}

.content__table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.content__head_items {
    border-bottom: 1px solid var(--color-gray-light);
}

.content__head_item {
    padding-top: 9px;
    padding-bottom: 9px;
    color: var(--color-gray-dark);
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
}

.content__head_item:first-child {
    padding-left: 15px;
}

.content__body {
    background-color: var(--color-white);
}

.content__body_items {
    border-bottom: 1px solid var(--color-gray-light);
}

.content__body_item {
    width: 152px;
    height: 55px;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    color: var(--color-gray-dark);
}

.content__body_item:nth-child(4n+1) {
    padding-left: 15px;
}

.content__body_color {
    margin: 0 0 2px 0;
}

.content__body_size {
    margin: 0;
}

.content__right {
    padding-top: 25px;
}

.content__btn {
    padding: 9px 42px 9px 42px;
    border-radius: 6px;
    color: var(--color-white);
    background-color: var(--color-sky);
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
}

/*Nav*/
.nav {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    width: 180px;
    height: 100%;
    background-color: var(--color-dark);
    list-style-type: none;
}

.nav__container {
    flex-direction: column;
}

.nav__link {
    margin-right: 12px;
    position: relative;
    min-width: 79px;
    min-height: 59px;
    border-radius: 0 0 20px 0;
    background-color: var(--color-white);
}

.nav__top {
    margin-bottom: 13px;
    align-items: center;
}

.nav__logo {
    position: absolute;
    top: 18px;
    left: 13px;
}

.nav__title {
    margin: 0;
    max-width: 50px;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    color: var(--color-white);
}

.nav__list {
    margin-left: 34px;
}

.nav__item {
    color: rgba(255, 255, 255, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 11px;
}

/*ADD*/
.add__form {
    position: relative;
    margin: 0 auto;
    padding: 27px 5px 40px 12px;
    flex-direction: column;
    min-height: 387px;
    width: 630px;
    background-color: var(--color-dark);
}

.add__exit {
    position: absolute;
    right: 5px;
    top: 18px;
    height: 30px;
    width: 30px;
}

.add__title {
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 11px;
    color: var(--color-white);
}

.add__label {
    margin-bottom: 8px;
    flex-direction: column;
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    color: var(--color-white);
}

.add__input {
    margin-bottom: 13px;
    padding: 10px 8px 9px 8px;
    max-width: 472px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 300;
    line-height: 11px;
    background-color: var(--color-white);
}

.dropdown {
    position: relative;
    margin-bottom: 13px;
    max-width: 472px;
}

.dropdown__button {
    position: relative;
    padding: 10px 38px 9px 8px;
    appearance: none;
    border: none;
    outline: none;
    text-align: left;
    width: 472px;
    background-color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
}

.dropdown__button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/arrow.svg);
    pointer-events: none;
}

.dropdown__button_radius {
    border-radius: 5px 5px 0 0;
}

.dropdown__list {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    background-color: var(--color-white);
}

.dropdown__list_visible {
    display: block;
}

.dropdown__list_color {
    background-color: var(--color-sky-dark);
}

.dropdown__list_item {
    padding: 10px 38px 9px 8px;
    cursor: pointer;
}

.dropdown__input_hidden {
    display: none;
}

.add__subtitle {
    margin: 0 0 18px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 11px;
    color: var(--color-white);
}

.add__link_div {
    margin-bottom: 22px;
}

.add__link {
    border-bottom: 1px dashed var(--color-sky);
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    color: var(--color-sky);
}

.add__btn {
    padding: 9px 42px 9px 42px;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-sky);
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
}

.add__input_attributes {
    width: 219px;
}

.add__attributes {
    align-items: center;
    gap: 11px;
}

.add__name {
    flex-direction: column;
}

.add__value {
    flex-direction: column;
}
